page-about {
    .toolbar-title.toolbar-title-md {
        color: white;
    }

    button.disable-hover.bar-buttons.bar-buttons-md.bar-button.bar-button-md.bar-button-default.bar-button-default-md.bar-button-menutoggle.bar-button-menutoggle-md {
        color: white;
    }

    .toolbar-background.toolbar-background-md {
        background: black;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        text-align: justify;
    }
}
