page-catalogo {

    img{
        width:100%;
        height:100%;
      }
      
      .cardProducto{
        position: relative;
      }
      
      .textoDentro{
        width: 100%;
        height: 25px;
        position: absolute;
        z-index: 99;
        bottom: 0px;
        padding-top: 5px;
        opacity: 0.65;
        background: #000;
        color: #fff;
      }

      .textoPrecio{
        float: left;
        -webkit-filter: initial;
        filter: initial;
        text-decoration:line-through;
        padding-left: 5px;
      }

      .textoDescuento{
        float: right;
        -webkit-filter: initial;
        filter: initial;
        color: red;
        padding-right: 5px;
      }

      .cantidadRow{
        height: 100%;
        justify-content: center;
      }
}
