page-help {
    .ingresar-btn {
        width: 100%;
        background-color: green;
    }

    
    .ingresar-btn:hover, .ingresar-btn:active, .ingresar-btn:focus  {
        width: 100%;
        background-color: #004400;
    }

    .padding-right-xs {
        padding-right:  5px;
    }
}
