page-producto {

    .image-container{
        background-size: cover;
        min-width: 150px;
        min-height: 200px;
    }

    .tipoProducto{
        text-align: center;
        font-size: 10px;
        color: grey;
        display: inline;
    }

    .thumbnail-photos{
        max-height: 100px;
        border: 1px;
        border-color: aqua;
    }

    .sliderFotos{
        height: 66%;
    }

    .imageSlider{
        max-height: 350px;
    }


    .filters {

        ion-col {
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.6rem;

            ion-icon {
                color: #ccc;
            }

            &.col-with-arrow {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        p {
            margin: 0;
            font-size: 1.6rem;
            line-height: 1.6rem;
        }

        .selected {
            font-weight: 700;
        }
    }


}
