<ion-header color="primary">
  <ion-navbar color="primary">
    <ion-title>{{ producto?.name }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list class="tipoProducto">
    <ion-row>
      <ion-col>{{ producto?.genero }}</ion-col>
      <ion-col col-1>-</ion-col>
      <ion-col>{{ producto?.tipo }}</ion-col>
      <ion-col col-1>-</ion-col>
      <ion-col>{{ producto?.subtipo }}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col>{{ producto?.referencia }}</ion-col>
    </ion-row>
  </ion-list>

  <!-- Slider de imágenes -->
  <ion-list text-center>
    <img class="imageSlider" data-src="{{ producto?.foto }}"/>
    <div class="descripcion">{{ producto?.descripcion }}</div>
  </ion-list>
  
  
  <ion-toolbar>
    <ion-row class="filters">
      <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
        <ion-icon *ngIf="showLeftButton" name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col no-padding col-10>
        <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="2">
          <ion-slide [class.selected]="tallaSelected === talla" (click)="seleccionandoTalla(talla)" *ngFor="let talla of tallas; let i = index">
            <p class="tallaName">Talla {{ tallas[i] }}</p>
            <p>Expuestas: {{ cantidadTienda[i] }}</p>
            <p>Almacén: {{ cantidadAlmacen[i] }}</p>
          </ion-slide>
        </ion-slides>
      </ion-col>
      
      <ion-col class="col-with-arrow" (click)="slideNext()" no-padding col-1>
        <ion-icon *ngIf="showRightButton" name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <div class="item row">
    <button class="botonMenos" (click)="decrementarCantidad()">-</button>
    <input class="cantidadInput" type="number" placeholder="Cantidad" [(ngModel)]="cantidad">
    <button class="botonMas" (click)="incrementarCantidad()">+</button>
  </div>

  <ion-fab bottom right #fab id="fab" color="primary">
    <button ion-fab [disabled]="tallaSelected==null" color="primary" (click)="addProductToCart(producto)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
