<ion-menu [content]="NAV">
    <ion-content>
        <ion-card text-center class="hide-card" *ngIf="clientService.user != null">
            <ion-avatar item-left class="menu-avatar">
                <img class="custom-avatar" src="https://image.flaticon.com/icons/svg/149/149071.svg">
            </ion-avatar>
            <h2>{{ clientService.user.email }}</h2>
            <hr>
        </ion-card>
        <ion-list>
            <button menuClose ion-item href="#" *ngIf="clientService.user == null" (click)="login()">Login</button>
            <button menuClose ion-item href="#" (click)="readCode()">
                <ion-icon item-left name='qr-scanner'></ion-icon>
                Escanear QR</button>
                <button menuClose ion-item href="#" (click)="goToAbout()">
                    <ion-icon item-left name='ios-information-circle'></ion-icon>
                    Acerca de</button>
                    <button menuClose ion-item href="#" (click)="goToFAQ()">
                        <ion-icon item-left name='help'></ion-icon>
                        FAQ</button>
            <!--
            
            <button menuClose ion-item href="#" (click)="changeTab(0)">
                <ion-icon item-left name='people'></ion-icon>
                Asistencia</button>
            <button menuClose ion-item href="#" (click)="changeTab(1)">
                <ion-icon item-left name='locate'></ion-icon>
                Mapa</button>
            <button menuClose ion-item href="#" (click)="changeTab(2)">
                <ion-icon item-left name='shirt'></ion-icon>
                Catálogo</button>
            <button menuClose ion-item href="#" (click)="changeTab(3)">
                <ion-icon item-left name='cart'></ion-icon>
                Carrito</button>
            
            -->
        </ion-list>
        <ion-footer no-shadow>
            <ion-toolbar class="logoutButton" position="bottom">
                <button menuClose ion-item href="#" *ngIf="clientService.user != null" (click)="logout()">Logout</button>
            </ion-toolbar>
        </ion-footer>
    </ion-content>
</ion-menu>

<ion-nav #NAV [root]="rootPage"></ion-nav>