<ion-menu [content]="NAV">          <!-- MENU DESPLEGABLE -->
    <ion-content> <!-- Para añadirle contenido scrollable -->
        <ion-list>  <!-- Hacemos una puta lista, hay varios tipos -->
            <button ion-item>
                <ion-icon item-left name='flame'></ion-icon>
                Prueba 1
            </button>  <!-- Un botón enlistado -->
        </ion-list>

        <!-- Botones login y logout, desaparecen cuando está iniciada o no la sesión -->
        <button ion-button *ngIf="clientService.user == null" (click)="login()">Inicio de sesión</button>
        <button ion-button *ngIf="clientService.user != null" (click)="logout()">Cierre de sesión</button>
    </ion-content>

</ion-menu>


<ion-nav #NAV [root]="rootPage"></ion-nav>  <!-- #NAV hace que entre el menu -->
